
body {
  background: red;
  color: white;
  margin: 0px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.container{
  width: 100%; /* Adjust the width as needed */
  resize: vertical;
  color: whitesmoke;
  font-weight: bold;
  font-size: 13px;
}

video {
  display: grid;
  grid-template-columns: max-content;
  width: 400px;
  height: 500px;

}